.grid-button {
	width: 100%;
	height: 100%; 
	border-radius: 100%;
	display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;  
  z-index: 1;
}

.grid-button-over {
	color: #2196f3; 
	cursor: pointer;
	transition: color 400ms ease-in-out;
}

.grid-button-down {
	color: #3f51b5; 
	cursor: pointer;
}
 
.grid-button-selected {
	color: #495fda; 
}

.grid-button-out {
	transition: color 1000ms ease-in-out;
	color: #272727;
}

.grid-icon {
	z-index: 0;
}
