.burger {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
  align-items: center; 
  justify-content: center;
	transition: transform 500ms ease-in-out; 
}

.burger:children {
	background: pink;
}

.burger:hover {
	cursor: pointer;
}

.burger-open {
	transform: rotate(90deg);
}

.burger-bar:last-child { 
	margin-bottom: 0;
}

.burger-bar {
	height: 4px;
	margin-bottom: 4px;
	width: 100%;
	background: #E8E4E4;
	transition: background 500ms, width 500ms ease-in-out;
}

.burger-bar-hover {
	background: #2196f3;
}

.burger-bar-down {
	background: #3f51b5;
}

.full-height {
	height: 100%;
}

.no-height {
	height: 0;
}