.open-close-toggle {
	height: 22px;
	width: 22px;
	border-radius: 100%;
	background: #E8E4E4; 
	position: relative;
}

.open-close-toggle:hover {
	cursor: pointer;
}

.line {
	position: absolute;
	left: 5px;
	top: 9px;
	width: 12px;
  height: 4px;
	background: #272727;
	transition: transform 1s, background 500ms;
}

.line-closed { 
	transform: rotate(90deg); 
}

.line-over {
	background: yellow;
}

.line-out,
.line-animated {
	background: blue;
}

.line-down,
.line-parent-animating,
.line-animating  {
	background: red;
} 
 

/*.line-over,
.line-up { 
	background: #2196f3; 
}

.line-down,
.line-animating {  
	background: #3f51b5;
} 

.line-out { 
	background: #272727;
}*/

/*.line-animated {
	background: #272727;
	transition: transform 1s, background 2s;
}

.line-down,
.line-up, {
	transition: transform 1s, background 0s;
}
*/