.open-close-toggle {
	height: 22px;
	width: 22px;
	border-radius: 100%;
	background: #E8E4E4; 
	position: relative;
}

.open-close-toggle:hover {
	cursor: pointer;
}

.line {
	position: absolute;
	left: 5px;
	top: 9px;
	width: 12px;
  height: 4px;
	background: #272727;
	transition: transform 1s 750ms, background 500ms;
}

.line-over { 
	background: #2196f3;
}

.line-down { 
	background: #3f51b5;
}

.vert-line {
	transform: rotate(90deg);
}

