* {
	box-sizing: border-box;
}
  
.box-header {
	height: 44px;
	width: 100%;  
	display: flex;
	justify-content: space-between;
	align-items: center; 
	position: relative;
	overflow: hidden;

  box-sizing: border-box; 
 	background: #272727; 

 	transition: 3s width ease-in-out;

 	border: 2px solid red;
   margin-right: 20px;
}

.box-header-expanded {
	width: 100%;
}

.box-header-minimized {
	width: 36px; 
}

.burger-container { 
	width: 29px; 
	height: 22px;  
	max-width: 29px;
	padding-left: 7px;
	transition: width 2s;
	z-index: 2;
  background: #272727; 
  position: absolute;
}

.title {
	flex-grow: 1; 
	min-width: 0;
	color: white; 
	display: flex;
	justify-content: center; 
	white-space: nowrap; 
	position: absolute;
}

.title-opening {
	width: 100%;
}

.open-close-toggle-container {
	height: 100%; 
	width: 29px;
	min-width: 29px;
	display: flex;
  align-items: center;
  padding-right: 7px; 
  background: #272727; 
  z-index: 3;
  position: absolute;
  right: 0;
}

.open-close-toggle { 
	width: 22px;
	height: 22px;
	z-index: 1000; 
}

