// ========= background
$background-light: #E8E4E4;
$background-mid: #C4C4C4;
$background-dark: #272727;

// ========= text
$text-default: #E8E4E4;
$text-hover: #2196f3;
$text-active: #3f51b5;
$text-selected: #495fda;

// ========= elements
$element-hover: $text-hover;