@font-face {
  font-family: Bungee;
	src: url(fonts/Bungee-Regular.ttf);
}

@font-face {
	font-family: BaiJamjuree-Medium;
	src: url(fonts/BaiJamjuree-Medium.ttf);
}

@font-face {
	font-family: Roboto-Light;
	src: url(fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: DMMono;
	src: url(fonts/DMMono-Medium.ttf);
}

$heading-font: BaiJamjuree-Medium, Verdana, sans-serif;
$text-font: Roboto-Light, Verdana, sans-serif;