.main-body {
	background: #272727;
	display: flex;
	justify-content: space-between;
	height: 23em;
	padding: 6em;
}

.main-body h2:hover {
	cursor: default;
}

.main-body p:hover {
	cursor: default;
}

.main-body h2 {
	font-family:  BaiJamjuree-Medium, Verdana, sans-serif;
	color: #E8E4E4;
	font-size: 3em; 
	padding-bottom: 0.2em;
}

.main-body p {
	font-family: Roboto-Light, Verdana, sans-serif;
	color: #E8E4E4;
	font-size: 1.5em;
	padding-top: 0.8em;
}