@import './colors.scss';
@import './fonts.scss';
@import './transitions.scss';

@mixin default-cursor() {
  cursor: default;  

  &:hover {
    cursor: default;
  }
}

@mixin selectable-element() { 
  &:hover {
    cursor: pointer;
  }
}

@mixin selectable-text() {
  color: $text-default;
  transition: $text-color-fade-transition; 

  &:hover {
    cursor: pointer;
    color: $text-hover;
  }

  &:active {
    color: $text-active;
  }
}

@mixin vertical-children() {
  display: flex;
  flex-direction: column;
}

@mixin main-heading-text {
  font-family: $heading-font;
	color: $text-default;
  font-size: 3em; 
  padding-bottom: 0.2em;
}

@mixin main-content-text {
	font-family: $text-font;
	color: $text-default;
	font-size: 1.5em;
	padding-top: 0.8em;
}