/* =================== Transitions =================== */
 /*.scroll-bar-transition {
	transition: 2s width ease-in-out;	
}*/

/* =================== Box =================== */
.box {
	height: 400px;  
	min-width: 36px;
	display: flex;
	flex-direction: column;
	margin-right: 30px; 
	overflow: hidden;
	background: #E8E4E4;
	transition: 2s width ease-in-out; 
}

.box-opening,
.box-open {
	width: 100%;
}

.box-opening-no-overflow-x {
	overflow-x: hidden;
}

.box-closing,
.box-closed {
	width: 36px;  
}

/* =================== Box Header =================== */
.box-header {
	min-height: 40px;
	height: 40px;
	width: 100%; 
	position: relative; 
	display: flex;
	align-items: center;
	background: #272727; 
}

/* =================== Buttons  */
.box-buttons-container {
	z-index: 1000;  
  height: 100%;
  display: flex;
  align-items: center; 
  background: #272727; 
  padding-right: 6px;
} 

/* =================== Title */
.box .title {
	flex-grow: 1; 
	min-width: 0;
	display: flex;
	justify-content: center; 
	white-space: nowrap; 
	position: absolute;
	color: #E8E4E4;
	font-size: 1.2em; 
	font-family: BaiJamjuree-Medium, Verdana, sans-serif; 
	width: 100%;
	cursor: default;
} 

/* =================== Open close toggle */ 
.box .open-close-toggle-container {
	height: 100%; 
	width: 36px;
	min-width: 36px;
	display: flex;
	justify-content: center;
  align-items: center;
  background: #272727; 
  z-index: 9000;
  position: absolute;
  right: 0;
}

/* =================== Body */
.box-body {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
	background: #E8E4E4;  
	overflow: auto;
	background: red;
	display: inline-flex; 
} 

.box-body-refresh {
	overflow: overlay; 
}

/* =================== View Container - area visible to user*/
.display-container {  
	transition: width 1s; 
	background: purple;  
	min-width: 100%;
}

.display-container-x-closing-no-overflow {
	/*overflow: hidden;*/
	max-width: 100%;
}

/* =================== Content Container - wrapper for content */
.content-container { 
	/*transition: height 2s;
	box-sizing: border-box;
	overflow: visible;  
*/
	/*width: 100%;
  	max-width: 100%;*/
/*	transition: height 2s, width 2s;*/
	/*  box-sizing: border-box; */
	
	transition: height 1s, min-height 1s;

	background: pink;   
  border: 0.5em solid blue;
  overflow: hidden;
  box-sizing: border-box; 
	white-space: nowrap; 

	min-height: 100%; 
}  

.content-container-x-closed {
	height: 0 !important; 
	min-height: 0;
}

.content-container-x-opening {
	height: 0 !important;
	min-height: 0;
}

 

/*.content-container-x-closing {
	/* set height and width to 100% in pixels if overflowing */ 
	/* if not overflowing set max-height and max-width to 100% */
 /*	overflow: hidden;
}
 
.content-container-closed {	

	height: 0 !important; 
	overflow: hidden;
	height: 0;
}

.content-container-x-opening {
	/*height: 0 !important; */
	/*overflow: hidden;
}

/*.content-container-opening,
.content-container-open {
	
}

.overflowing-content {
	width: 500px;
  height: 500px;
}
*/
/* =================== Body Scrollbar */
.box-body::-webkit-scrollbar { 
  height: 16px;
  width: 16px;
  background: transparent; 
}

.box-body::-webkit-scrollbar-corner {
	background: #a7a7a7;
}
 
.box-body::-webkit-scrollbar-thumb { 
	background: #a7a7a7;  
}

.box-body::-webkit-scrollbar-thumb:hover { 
	background: #d6d1d1;
}
