/* ======================== Box ======================== */ 
* {
	box-sizing: border-box;
}
  
.box {
	height: 400px;  
	display: flex;
	flex-direction: column;

	transition: 1s width ease-in-out; 
	margin-right: 30px;
}

.box:last-child {
	margin-right: 30px;
}

.box-expanded {
	width: 100%;
	min-width: 36px;
}

.box-minimized {
	width: 36px; 
	min-width: 36px;
}

/* ======================== Header ======================== */
.box-header {
	height: 40px;
	width: 100%; 
	position: relative;
	/*overflow: hidden;*/
	display: flex;
	align-items: center;
	background: #272727; 
}

.burger-container { 
	width: 29px; 
	height: 100%;
	max-width: 29px;
	padding-left: 7px;
	transition: width 2s;
	z-index: 2;
  background: #272727; 
  position: absolute;
  display: flex;
 	align-items: center;
}

.burger {
	height: 22px;
}

.title {
	flex-grow: 1; 
	min-width: 0;
	display: flex;
	justify-content: center; 
	white-space: nowrap; 
	position: absolute;
	color: #E8E4E4;
	font-size: 1.2em; 
	font-family: BaiJamjuree-Medium, Verdana, sans-serif; 
	width: 100%;
	cursor: default;
} 

.open-close-toggle-container {
	height: 100%; 
	width: 29px;
	min-width: 29px;
	display: flex;
  align-items: center;
  padding-right: 7px; 
  background: #272727; 
  z-index: 3;
  position: absolute;
  right: 0; 
}

.open-close-toggle-container-big {
	width: 36px;
  min-width: 36px;
  justify-content: center;
  padding: 0;
}

.open-close-toggle { 
	width: 22px;
	height: 22px;
	z-index: 1000; 
}

/* ======================== Body ======================== */ 
.box-body {
	display: flex; 
  width: 100%;
  height: 100%;
  background: #E8E4E4; 
  position: relative;
  overflow: auto;
}

/*.text-body {
	position: absolute;
	width: 100%;
	height: 100%; 
	transition: opacity 500ms ease-in-out;
	z-index: 0; 
	/*overflow: hidden;
} 

.text-body p {
	margin-bottom: 1em;
}

.text-body:hover {
	cursor: default;
}*/

.burger-body {
	width: 100%;  
	background: #272727;  
	position: absolute;
	overflow: hidden;
	transition: height 500ms ease-in-out; 
	z-index: 1;
}

.burger-title {
	height: 20px;
	color: #E8E4E4;  
	font-size: 1em;
	padding: 0.75em 7px;
	display: flex;
	align-items: center;
	font-family: BaiJamjuree-Medium, Verdana, sans-serif;   
	white-space: nowrap;
	overflow: hidden;
}

.burger-title:hover {
	color: #2196f3;
	background: #4e4e4e;
	cursor: pointer;
}

.burger-title:active {
	color: #3f51b5;
	background: #4e4e4e;
	cursor: pointer;
}

.button {
	margin-left: 7px;
	height: 22px;
  width: 22px;
  border-radius: 100%;
  background: #E8E4E4; 
  display: flex;
  justify-content: center;
  align-items: center;
} 

.button:hover {
	color: #2196f3; 
}

.button:active {
	color: #3f51b5; 
}

.refresh-clicked {
	transform: rotate(360deg);
}

#refresh-icon {
	transition: 1s transform; 
}

/* ======================== Util ======================== */ 
.no-show {
	opacity: 0; 
}

.padding {
	padding: 0.5em 0.75em;
}

.text-body .bold {
	font-weight: bold;
	margin-bottom: 0;
}

.dark-background {
	background: #272727;
}

.white-background {
	background: white;
}