.custom-scroll {
	overflow: auto;
}

.custom-scroll::-webkit-scrollbar { 
  height: 16px;
  width: 16px;
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-corner {
	background: #a7a7a7;
}
 
.custom-scroll::-webkit-scrollbar-thumb {
	background: #a7a7a7;  
}

.custom-scroll::-webkit-scrollbar-thumb:hover { 
	background: #d6d1d1;
}