@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';

.header {  
	background: $background-dark;
	display: flex;
	justify-content: flex-start;
	align-items: baseline; 
	padding: 1em;
}

.header-link-container {
	display: flex;
  justify-content: space-between;
  width: 13em;
  margin-left: 6em;
	text-decoration: none;
}

.header-link {
	text-decoration: none;
}

.header-logo,
.header-link-text {
	@include selectable-text; 
}

.header-logo__selected,
.header-link__selected  {
	color: $text-selected;
}

.header-logo {
	font-family: $logo-font;
	font-size: $header-logo-size; 
}

.header-link-text {
	font-family: $heading-font;
	font-size: $header-link-size; 
}

