.display-box {
	width: 100%;
  height: 100%;
  resize: both;
  overflow: auto;
  position: absolute;
  border: 0.5em solid transparent;
  z-index: 2;
}

.iframe-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.grid-overlay {
	width: 100%;
	height: 100%;
	background: blue;
	opacity: 0.5;
	position: absolute;
}

.iframe {
	width: 100%;
	height: 100%;
	background: #272727;
	position: absolute;
}