.display-box-background {
	width: 100%;
	height: 100%;
	padding: 0.5em;
}

.iframe-container {
	width: 100%;
	height: 100%; 
	position: relative;
	resize: both;
	overflow: hidden;  
	background: #272727;
} 

.grid-overlay {
	width: 100%;
	height: 100%; 
	position: absolute;
	top: 0;
}

.iframe {
	width: 100%;
	height: 100%; 
}