.display-box-background {
	width: 100%;
	height: 100%;
	padding: 0.5em;
	background: #E8E4E4;
}

.display-box {
	width: 100%;
	height: 100%;
	position: relative;
	resize: both;
	overflow: hidden;  
	background: #272727;
	transition:  width 500ms ease-in-out, height 500ms ease-in-out;
} 

.display-open {
	height: 100%; 
}

.display-closed {
	height: 0;
}


/*.iframe-container-big { 
	width: 100%;
	height: 100%;
	transition: width 500ms, height 500ms;
} 

.iframe-container-hidden {
	opacity: 0;
	overflow: hidden;
}*/

.grid-overlay {
	width: 100%;
	height: 100%; 
	position: absolute;
	top: 0;
}

.iframe {
	width: 100%;
	height: 100%; 
}

.body-background {
	width: 100%;
	height: 100%;
	background: pink;
}

.body {
	width: 100%;
	height: 100%; 
	transition: height 1000ms;
}


.body-open {
	/*background: green;*/
}

.body-closing {
	/*background: yellow;*/
}

.body-closed {
	/*background: purple;*/
	height: 0;
}