.learn-container {
	background: #C4C4C4;
	flex-grow: 1;
	display: flex; 
	padding: 4em;
}

.four-box {
	min-width: 250px;
	height: 400px;
	background: white;
	border: 2px solid black;
}

.info-text-container {
	padding: 0.5em 0.75em;
	transition: opacity 500ms ease-in-out;
	box-sizing: border-box;
}