
.click-header {
 	margin-bottom: 1px;
}

/* ================== Header ================== */
.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between; 
	background: grey;
	padding: 5px; 
}

.info-header {
	font-weight: bold; 
}
 
.info-header:hover {
	color: #2196f3;
	cursor: pointer;
}

.info-header:active {
	color: #3f51b5;
	cursor: pointer;
}

.info-header-selected {
	color: #3f51b5; 
}

/* ================== Icon ================== */
div .play-icon {
	background: #272727;
  color: #E8E4E4;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  padding: 1px;
  display: inline-block;
  transition: transform 500ms ease-in-out, color 500ms;
} 

div .play-icon:hover {
	color: #2196f3;
	cursor: pointer;
}

div .play-icon:active {
	color: #495fda;
}

div .play-icon-animating {
	color: #495fda; 
}

div .play-icon-down {
  color: #495fda; 
	transform: rotate(90deg);
}

/* ================== Text ================== */  
.text-container {
	transition: height 500ms, padding-top 500ms, padding-bottom 500ms;
	overflow: hidden;
	background: #C4C4C4; 
	cursor: default;
	padding-left: 5px;
	padding-right: 5px;
}

.text-container-init {
	visibility: hidden;
}

.text-container-hide-text {
	height: 0; 
	padding-top: 0; 
}

.text-container-show-text { 
	padding-top: 5px;
	padding-bottom: 5px;
} 

.info-text { 
	padding: 0.5em 0.75em; 
}


/*


.children-init {
	opacity: 0;
} */