.click-header {
 	margin-bottom: 1px;
}

/* ================== Title ================== */
.click-header-title-container {
	display: flex;
	align-items: center;
	justify-content: space-between; 
	background: grey;
	padding: 5px; 
}

.click-header-title-container:hover {
	background: #afadad;
}

.click-header-title-container:active { 
	background: #a7a0a0;
}

.click-header-title-container-selected {
	background: #afadad; 
}

.click-header-title {
	font-weight: bold; 
}
 
.click-header-title:hover {
	color: #3f51b5; 
	cursor: pointer; 
}

.click-header-title:active {
	color: #27347c;
	cursor: pointer;
}

.click-header-title-selected {
	color: #3f51b5; 
}

/* ================== Icon ================== */
div .click-header-play-icon {
	background: #272727;
  color: #E8E4E4;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  padding: 1px;
  display: inline-block;
  transition: transform 500ms ease-in-out, color 500ms;
} 

div .click-header-play-icon:hover {
	color: #2196f3;
	cursor: pointer;
}

div .click-header-play-icon:active {
	color: #495fda;
}

div .click-header-play-icon-animating {
	color: #495fda; 
}

div .click-header-play-icon-down {
  color: #495fda; 
	transform: rotate(90deg);
}

/* ================== Text ================== */  
.click-header-text-container {
	transition: height 500ms, padding-top 500ms, padding-bottom 500ms;
	overflow: hidden;
	background: #C4C4C4; 
	cursor: default;
	padding-left: 5px;
	padding-right: 5px;
}

.click-header-text-container-init {
	visibility: hidden;
}

.click-header-text-container-hide-text {
	height: 0; 
	padding-top: 0; 
}

.click-header-text-container-show-text { 
	padding-top: 5px;
	padding-bottom: 5px;
} 

.info-text { 
	padding: 0.5em 0.75em; 
}
 