div .play-icon {
	background: #272727;
  color: #E8E4E4;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  padding: 1px;
  display: inline-block;
  transition: transform 500ms ease-in-out;
}

div .play-icon:hover {
	color: #2196f3;
	cursor: pointer;
}

div .play-icon:active {
	color: #495fda;
}

div .play-icon-animating {
	color: #495fda;
}

div .play-icon-selected {
  color: #495fda; 
	transform: rotate(90deg);
}

.child-container {
	/*transition: opacity 1000ms ease-in-out, height 1000ms ease-in-out;*/
	transition: max-height 1000ms, opacity 1000ms;
	z-index: -1000;
}

.child-container:hover {
	cursor: default;
}

.child-container-hidden {
	opacity: 0; 
	max-height: 0;
}

.child-container-visible {
	 opacity: 1;  
	max-height: 1000px;
}