@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/transitions.scss';

/* =============== Consts =============== */
$openCloseButton-size: 22px;

$openCloseButton-width: $openCloseButton-size;
$openCloseButton-height: $openCloseButton-size;
$openCloseButton-symbol-width: 12px;
$openCloseButton-symbol-height: 4px;
$openCloseButton-border-width: 0px;

/* =============== Fns =============== */
@function getOpenCloseButtonLeft() {
	$totalSpace: $openCloseButton-width - $openCloseButton-symbol-width;

	@return calc(($totalSpace / 2) - $openCloseButton-border-width);
}

@function getOpenCloseButtonTop() {
	$totalSpace: $openCloseButton-height - $openCloseButton-symbol-height;

	@return calc(($totalSpace / 2) - $openCloseButton-border-width);
}

/* =============== Button =============== */
.openCloseButton {
	box-sizing: border-box;
	width: $openCloseButton-width;
	height: $openCloseButton-height;
	border-radius: 100%;
	background: $background-light; 
	position: relative; 
	z-index: 2;
	@include selectable-element;
	border-color: $background-dark;
	border-width: $openCloseButton-border-width;

	transition: $element-background-color-out;

	&:hover {
		background-color: $element-hover;
		transition: $element-background-color-over;
	}

	&:active {
		background-color: $element-active;
		transition: $element-background-color-down;
	}
} 

/* =============== Line =============== */
.openCloseButton-line {
	background: $background-dark;
	position: absolute; 
	width: $openCloseButton-symbol-width;
  height: $openCloseButton-symbol-height;
 	top: getOpenCloseButtonTop();
 	left: getOpenCloseButtonLeft();
 	z-index: 1; 
	transition: transform 1s;
}

.openCloseButton-line__vertical { 
	transform: rotate(90deg);
}