@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';
@import '../../styles/transitions.scss';

/* =============== Container =============== */
.openCloseButton-container {
	width: 22px;
	height: 22px;
	border-radius: 100%;
	background: $background-light; 
	position: relative; 
	z-index: 2;
	@include selectable-element;
} 

/* =============== Line =============== */
.line {
	background: $background-dark;
	position: absolute; 
	width: 12px;
  height: 4px;
 	top: 9px;
 	left: 5px;
 	z-index: -1; 
}

/* ======= Over */
.line-over {
	background-color: $element-hover;
}

.line-over-transition {
	transition: $element-background-color-over;
}

/* ======= Out */
.line-out {
	background: $background-dark; 
}

.line-out-transition {
	transition: $element-background-color-out;
} 

/* ======= Down */
.line-down-transition {
	transition: $element-background-color-down;
}

/* ======= Open */
.line-open {
	background: $text-active;
}

.line-open-transition {
	transition: transform 1s;
}

.line-open-transform {
	transform: rotate(90deg);  
}

/* ======= Closed */
.line-closed {
	background: $text-active;
}

.line-closed-transition {
	transition: transform 1s;
}
 
/* ======= Animating */
.line-animating {
	background: $text-active; 
}












/*.line-over,
.line-out {
	transition: background 500ms, transform 1s;
}

.line-down,
.line-up {
	transition: background 250ms, transform 1s;
}
*/
/*.line-over {
	background: #2196f3; 
}

.line-out {

}*/

/*.line-down {
	background: #3f51b5;
}

.line-animating {
	background: #3f51b5;
}

.line-opening {
	transform: rotate(90deg);  
	transition: transform 1s;
}

.line-closing {
	transition: transform 1s;
}
*/


/*

.line {
	position: absolute;
	left: 5px;
	top: 9px;
	width: 12px;
  height: 4px;
	background: #272727;
}

.line-closed {
	transition: transform 1s;
}

.line-open { 
	transform: rotate(90deg);  
	transition: transform 1s;
}

.line-over,
.line-up {
	background: #2196f3; 
}

.line-out,
.line-animated {
	background: #272727;
}

.line-down, 
.line-animating {
	background: #3f51b5;
} 

.line-over,
.line-out {
	transition: background 500ms, transform 1s;
}

.line-down,
.line-up {
	transition: background 250ms, transform 1s;
}*/