/* ------------ Box  ------------ */
.box {
	display: flex;
	flex-direction: column;
	width: 100vw;
	/*transition-duration: 750ms;*/
	/*transition-duration: 3s;
	transition-property: width, flex-grow, margin-right;
	transition-timing-function: ease-in-out;*/
}
/* 
.expanded-box {
	/*width: 290px;
	flex-grow: 1;
	margin-right: 40px; 
}

.closed-box {  
	flex-grow: 0;
	margin-right: 20px;
	width: 36px;
}*/

/* ------------ Header  ------------ */
.box-header {
	height: 44px;
	width: 100%; 
	display: flex;
	align-items: center;
  justify-content: space-between;
	padding: 7px;
  box-sizing: border-box; 
 	background: #272727;
 	overflow: hidden;
}

.burger {
	width: 20px;
	height: 20px; 
}

.open-container {
	background: yellow;
	width: 200px;
	height: 100%;
}

.burger-container {
	flex-grow: 1;
	flex-shrink: 1;
	height: 100%;
	background: blue;
}

.title-container {
	flex-grow: 2; 
	flex-shrink: 2;
	height: 100%;
	background: green;
	overflow: hidden; 
}

.toggle-container {
	width: 22px;
	flex-shrink: 0;
	height: 100%;
	background: red;
}

.title {
	color: #E8E4E4;
	font-size: 1.2em; 
	font-family: BaiJamjuree-Medium, Verdana, sans-serif;   
	/*
	display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
	
	white-space: nowrap;
	overflow: hidden; 
	cursor: default;*/
} 
 

/* ------------ Body  ------------ */
.box-body { 
	height: 400px;
	width: 100%;
	background: #E8E4E4; 
	position: relative;
	overflow: hidden;
}

.text-body {
	position: absolute;
	padding: 0.5em 1em;
	width: 275px;
	height: 100%;
	box-sizing: border-box;
	transition: opacity 500ms ease-in-out;
} 

.text-body:hover {
	cursor: default;
}

.burger-body {
	width: 100%; 
	background: #272727;  
	position: absolute;
	overflow: hidden;
	transition: height 500ms ease-in-out; 
}

.burger-title {
	height: 20px;
	color: #E8E4E4;  
	font-size: 1em;
	padding: 0.25em 7px;
	display: flex;
	align-items: center;
	font-family: BaiJamjuree-Medium, Verdana, sans-serif;   
	white-space: nowrap;
	overflow: hidden;
}

.burger-title:hover {
	color: #2196f3;
	background: #4e4e4e;
	cursor: pointer;
}

/* ------------ Util  ------------ */
.full-height {
	height: 100%; 
}

.no-height {
	height: 0; 
}

.no-show {
	opacity: 0;
}

.show {
	opacity: 1;
}