.full-height {
	height: 100%; 
}

.no-height {
	height: 0; 
}

.box {
	/*background: #E8E4E4;*/
	display: flex;
	flex-direction: column;
	transition-duration: 750ms;
	transition-property: width, flex-grow, margin-right;
	transition-timing-function: ease-in-out;
}
 
.expanded-box {
	width: 290px;
	flex-grow: 1;
	margin-right: 40px; 
}

.closed-box {  
	margin-right: 20px;
	width: 35px;
}

.box-header {
	height: 44px;
	background: #272727;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px;
  box-sizing: border-box; 
  width: 100%; 
}

.burger-container {
	width: 20px;
	height: 20px; 
}

.title {
	display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
	color: #E8E4E4;
	font-size: 1.2em; 
	font-family: BaiJamjuree-Medium, Verdana, sans-serif;   
	white-space: nowrap;
	overflow: hidden; 
} 

.title {
	cursor: default;
}

.toggle-container {
	width: 30px;
	height: 30px; 
	display: flex;
	justify-content: center;
	align-items: center;
} 

.box-body { 
	height: 400px;
	width: 100%;
	background: #E8E4E4; 
	position: relative;
}

.text-body {
	position: absolute;
	padding: 0.5em 1em;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
} 

.burger-body {
	width: 100%; 
	background: #272727;  
	position: absolute;
	overflow: hidden;
	transition: height 500ms ease-in-out; 
}

.burger-title {
	height: 20px;
	color: #E8E4E4;  
	font-size: 1em;
	padding: 0.25em 7px;
	display: flex;
	align-items: center;
	font-family: BaiJamjuree-Medium, Verdana, sans-serif;   
	white-space: nowrap;
	overflow: hidden;
}

.burger-title:hover {
	color: #2196f3;
	background: #4e4e4e;
	cursor: pointer;
}

