.burger-container {
	height: 100%;
	width: 2em;
	display: flex;
	flex-direction: column;
	justify-content: space-around; 
	transition: 1s;
}

.opaque {
	opacity: 0; 
}

.burger-bar {
	height: 20%;
	width: 100%;
	background: #E8E4E4;
}