.code-display {   
	transition: color 500ms;

	min-width: 100%; 
	min-height: 100%;
	padding: 0.5em;
	padding-right: 0;
	padding-bottom: 0;
	overflow: hidden;
	 
	background: #272727; 
	color: white;  
	font-family: monospace;
	white-space: nowrap;

	box-sizing: border-box; 
	margin: 0; 
	resize: none;
	border: none;
	outline: none;
}

.code-display:focus {
	outline: 2px solid red;
}

.code-display-fade {
	color: #272727; 
}