.grid-overlay {
	position: relative;
  width: 100%;
  height: 100%;
}

.grid-line-horiz {
	border-bottom: 2px solid;
	height: 10%;
	width: 100%;
}

.grid-line-vert {
	border-right: 2px solid;
	height: 100%;
	width: 10%;
	position: absolute;
  top: 0;
}

.grid-line-horiz.grid-line-over,
.grid-line-vert.grid-line-over { 
	border-color: #2196f3;
	transition: border-color 400ms ease-in-out; 
} 

.grid-line-horiz.grid-line-selected,
.grid-line-vert.grid-line-selected {
	border-color: #495fda;  
	transition: border-color 1000ms ease-in-out;	
}

.grid-line-vert.grid-line-out,
.grid-line-horiz.grid-line-out  { 
	border-color: #272727; 
	transition: border-color 1000ms ease-in-out;	
} 

.grid-line-horiz.grid-line-down,
.grid-line-vert.grid-line-down {
	border-color: #3f51b5;
	transition: border-color 400ms ease-in-out;
}


