/* =================== Box */
.learn-box {
	height: 400px;  
	display: flex;
	flex-direction: column;
	transition: 3s width ease-in-out; 
	margin-right: 30px; 
	overflow: hidden;
}

.learn-box-open {
	width: 100%;
}

.learn-box-closed {
	width: 36px;
}

/* =================== Box Header */
.learn-box-header {
	min-height: 40px;
	width: 100%; 
	position: relative; 
	display: flex;
	align-items: center;
	background: #272727; 
}

.learn-box-buttons-container {
	z-index: 1000;  
  height: 100%;
  display: flex;
  align-items: center; 
  background: #272727;
  padding-right: 6px;
}

.learn-box-button {
	height: 22px;
  width: 22px;
  border-radius: 100%;
  background: #E8E4E4;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 6px;
}

/* Title */
.learn-box .title {
	flex-grow: 1; 
	min-width: 0;
	display: flex;
	justify-content: center; 
	white-space: nowrap; 
	position: absolute;
	color: #E8E4E4;
	font-size: 1.2em; 
	font-family: BaiJamjuree-Medium, Verdana, sans-serif; 
	width: 100%;
	cursor: default;
} 


/* Open close toggle */ 
.learn-box .open-close-toggle-container {
	height: 100%; 
	width: 36px;
	min-width: 36px;
	display: flex;
	justify-content: center;
  align-items: center;
  background: #272727; 
  z-index: 9000;
  position: absolute;
  right: 0;
}

/* =================== Body */
.learn-box-body {
	width: 100%;
	height: 100%;
	background: #E8E4E4; 
	overflow: auto;
} 

.learn-box-body-opening,
.learn-box-body-closing {
	overflow: overlay;
}

.learn-box .content-container {
	width: 100%;   
	height: 100%;
	transition: height 6s;
}

.learn-box .content-container-resize {
	overflow: overlay;
}

.learn-box .content-container-opening,
.learn-box .content-container-closing,
.learn-box .content-container-closed {  
	overflow: hidden;
} 

.learn-box .content-container-opening,
.learn-box .content-container-open { 
	height: 100%; 
}

.learn-box .content-container-closing,
.learn-box .content-container-closed {  
	height: 0;
} 