/* =================== Box */
.learn-box {
	height: 400px;  
	display: flex;
	flex-direction: column;
	transition: 2s width ease-in-out; 
	margin-right: 30px;
	overflow: hidden;
}

.learn-box-open {
	width: 100%;
}

.learn-box-closed {
	width: 36px
}

/* =================== Box Header */
.learn-box .header {
	min-height: 40px;
	width: 100%; 
	position: relative; 
	display: flex;
	align-items: center;
	background: #272727; 
}

/* Title */
.learn-box .title {
	flex-grow: 1; 
	min-width: 0;
	display: flex;
	justify-content: center; 
	white-space: nowrap; 
	position: absolute;
	color: #E8E4E4;
	font-size: 1.2em; 
	font-family: BaiJamjuree-Medium, Verdana, sans-serif; 
	width: 100%;
	cursor: default;
} 


/* Open close toggle */ 
.learn-box .open-close-toggle-container {
	height: 100%; 
	width: 36px;
	min-width: 36px;
	display: flex;
	justify-content: center;
  align-items: center;
  background: #272727; 
  z-index: 9000;
  position: absolute;
  right: 0;
}

/* =================== Body */
.learn-box .body {
	width: 100%;
	height: 100%;
	background: #E8E4E4;
	overflow: auto; 
}

.learn-box .content-container {
	width: 100%;  
	overflow: hidden; 
	transition: height 2s;
}

.learn-box .content-container-open { 
	height: 100%; 
}

.learn-box .content-container-closed { 
	height: 0;
}

/*

.display-box-background {
	width: 100%;
	height: 100%;
	background: #E8E4E4;
	overflow: auto; 
}

.display-box {
	height: 100%;
	width: 100%;  
	position: relative;
	resize: both; 
	overflow: hidden;
	background: blue;
	border: 0.5em solid #E8E4E4;
} 

.display-box-open {
	min-width: 28px;
	min-height: 28px;
	
	height: 100%; 
}	

.display-box-closing { 

}

.display-box-closed { 
	height: 0;
 

	resize: none;  
	border-bottom: none; 
}
		
.display-box-transition {
	transition: height 500ms, width 500ms;
}

/*.display-box-background {
	width: 100%;
	height: 100%;
	background: #E8E4E4;
	overflow: auto;
}

.display-box-container {
	width: 100%;
	height: 100%; 
}

.display-box-container-open {
	height: 100%; 
	width: 100%;
}

.display-box-container-closed {
	height: 0;
	overflow: hidden;
}

.display-box-container-transition {
	transition:  width 500ms ease-in-out, height 500ms ease-in-out; 
}

.display-box {
	width: 100%;
	height: 100%;
	/*min-width: 28px;
	min-height: 28px;

	position: relative;
	resize: both; 
	overflow: hidden;
	
	border: 0.5em solid #E8E4E4;
} 

.display-box-open {
	height: 100%; 
	width: 100%;
}

.display-box-closed {
	resize: none;
}

.display-box-transition {
	transition:  width 500ms ease-in-out, height 500ms ease-in-out; 
} 

.iframe {
	width: 100%;
	height: 100%; 
	background: #272727;
}

.grid-overlay {
	width: 100%;
	height: 100%; 
	position: absolute;
	top: 0;
}



/*.body-background {
	width: 100%;
	height: 100%;
	background: pink;
}

.body {
	width: 100%;
	height: 100%;  
}*/

/* Scrollbar */
/* custom-scroll::-webkit-scrollbar {
  height: 16px;
  width: 16px;
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-corner {
	background: #a7a7a7;
}
 
.custom-scroll::-webkit-scrollbar-thumb {
	background: #a7a7a7;  
}

.custom-scroll::-webkit-scrollbar-thumb:hover { 
	background: #d6d1d1;
}*/