.text-body { 
	padding: 0.5em;
  background: #E8E4E4; 
  min-height: 100%;
  width: 100%;
  box-sizing: border-box; 
  flex-grow: 1;
}

.text-body-closing {
	position: absolute;
}

.text-body-opening {
	
}

.text-body p {
	margin-bottom: 0.5em;
}

