.text-body { 
	padding: 0.5em;
  background: #E8E4E4; 
  min-height: 100%;
  width: 100%;
  box-sizing: border-box; 
  flex-grow: 1;
}

.text-body-closing-overflow-hidden {
	position: absolute;
}
 
.text-body-closing-no-overflow {
	position: absolute; 
}

.text-body p {
	margin-bottom: 0.5em;
}

