.toggle-background {
	height: 22px;
	width: 22px;
	border-radius: 100%;
	background: #E8E4E4; 
	position: relative;
}

.line {
	position: absolute;
	left: 5px;
	top: 9px;
	width: 12px;
  height: 4px;
	background: #272727;
	transition: 1s;
}

.vert-line {
	transform: rotate(90deg);
}

