/* =============== Display Box =============== */
.display-box { 
	background: green;
  
 	resize: none;
	overflow: hidden;   
	border: 1em solid pink;
	transition: height 2s, width 2s;
}

.display-box-open.display-box-refresh { 
	width: 100%; 
	height: 100%;
	resize: none;
	background: yellow;
	transition: height 2s, width 2s;
}

.display-box-open {
	resize: both;
	transition: none;
	width: 100%;  
	background: red;
}

.display-box-closing-x,
.display-box-opening,
.display-box-open {
	height: 100%;
}

.display-box-height-overflow.display-box-closing-x {
	height: 100% !important;
}

.display-box-width-overflow.display-box-closing-x { 
	width: 100% !important;
	max-width: none;
}

.display-box-width-overflow.display-box-opening-x,
.display-box-width-overflow.display-box-opening-y { 
	max-width: none !important;
	width: none;
}

.display-box-opening,
.display-box-closing,
.display-box-closed { 
	max-width: 100%;
}

.display-box-closing-y,
.display-box-closed,
.display-box-opening-x {
	height: 0 !important; 
}

/* =============== iFrame =============== */
.iFrame {
	width: 100%;
	height: 100%;
	background: lightsteelblue;
}