/* =============== Transitions =============== */
.display-box-transition {
	/* 
	no touch = max-height;
	smaller = max-height;
	overflow-closing = min-height;
	overflow opening + shrink = height;

	width overflow - shrin width
	*/
	/*transition: max-height 3s, min-height 3s, height 3s, width 3s;*/
	
	resize: none;
}

.display-box-no-transition {
	resize: both;
}

.display-box-resize {
	/*max-height: 100%;
	max-width: 100%;
	transition: height 4s ease-in-out;*/
}

/* =============== Display Box =============== */
.display-box {
	width: 100%;  

	background: green;
  
 	resize: both;
	overflow: hidden;   
	border: 1em solid pink;

	transition: height 3s;
}

.display-box-open {
	resize: both;
	height: 100%;
} 

.display-box-closed {
	resize: none;
	height: 0;
}

.display-box-closing-x {
	height: 100%;
	resize: none;
}

.display-box-opening-x {
	height: 0;
	resize: none;
}

.display-box-closing-y {
	height: 0;
	resize: none;
}

.display-box-opening-y {
	height: 100%;
	resize: none;
}

/* ==== Closing */
/* Width */
/*.display-box-parent-closing-width,
.display-box-parent-closed-width,
.display-box-closing-width,
.display-box-closed-width,
.display-box-parent-opening-width {
	max-width: 100%;
}

.display-box-parent-open-width {
	max-width: none; 
}

 Height 
.display-box-parent-closing-height {
	max-height: 100%; 
}

.display-box-closing-height,
.display-box-closed-height,
.display-box-parent-opening-height {
	max-height: 0.000000000001%;
} 

.display-box-opening-height {
	max-height: 100%;
}
*/
/*.display-box-open-height {
	max-height: none;
}*/

/* ==== Closing overflow */
/* Width */
/*.display-box-parent-closing-width-overflow,
.display-box-parent-closed-width-overflow,
.display-box-closing-width-overflow,
.display-box-closed-width-overflow {
	min-width: 100%; 
	width: 0 !important;
}
 
.display-box-parent-opening-width-overflow,
.display-box-parent-open-width-overflow,
.display-box-opening-width-overflow,
.display-box-open-width-overflow { 
	min-width: 100%;
}

/* Height */
/*.display-box-parent-closing-height-overflow,
.display-box-parent-closed-height-overflow {
	min-height: 100%; 
	height: 0 !important;
}

.display-box-closing-height-overflow,
.display-box-closed-height-overflow,
.display-box-parent-opening-height-overflow { 
	min-height:  0;  
	height: 0 !important; 
}
 
.display-box-parent-open-height-overflow,
.display-box-opening-height-overflow {
	min-height: none;	
}

.display-box-open-height-overflow { 
	min-height: none;
}*/



