/* =============== Output Display =============== */
.output-display {
	width: 100%;
	height: 100%; 
	overflow: hidden; 
}

/* =============== Display Box Container =============== */
/*.output-display .display-box-container {
	width: 100%;
	height: 100%;
	background: #E8E4E4;
	background: red;
	overflow: hidden;
}
*/
/*.output-display .display-box-container-animating {
	overflow: hidden;
}

.output-display .display-box-container-resizing {
	overflow: scroll;
}*/

/* =============== Display Box =============== */
.display-box {
	width: 100%;
	height: 100%;
	position: relative;
	resize: both; 
	overflow: hidden;
	background: #272727;
	border: 0.5em solid #E8E4E4;
	z-index: 9000;

	transition: border-bottom-width 3s;
}

.display-box-closing {
	resize: none;
	max-width: 100%;
	max-height: 100%; 
} 

.display-box-closed {
	border-bottom-width: 0;
	resize: none;
}

.display-box-opening {
	resize: none;
	max-width: none;
	max-height: none;
	width: none;
	height: none;
	border-bottom-width: 0;
}

.display-box-open {
	border-bottom-width: 0.5em;
}

.display-box-transition {
	transition: width 5s, height 5s; 
}
