 .refresh-button {
	width: 100%;
	height: 100%;
	font-size: 1.1em; 
	
	display: flex;
	justify-content: center;
	align-items: center; 
}

.refresh-button:hover {
	cursor: pointer;
}

.refresh-button-down {
	color: #495fda; 
}

.refresh-button-over {
	color:  #2196f3;
	transition: color 400ms;
}

.refresh-button-out { 
	color: #272727;
	transition: color 1000ms;
}

.refresh-icon {
	z-index: -1;
	transition: 1s transform; 
}