.item_1 { 
	display: flex; 
	justify-content: center; 
	border: 2px solid black; 
	background: black; 
	color: white;
} 

.item_2 {  	
	justify-content: center; 
	border: 2px solid black; 
	background: white; 
}