.open-close-toggle {
	height: 22px;
	width: 22px;
	border-radius: 100%;
	background: #E8E4E4; 
	position: relative;
}

.open-close-toggle:hover {
	cursor: pointer;
}

.line {
	position: absolute;
	left: 5px;
	top: 9px;
	width: 12px;
  height: 4px;
	background: #272727;
}

.line-closed {
	transition: transform 1s;
}

.line-open { 
	transform: rotate(90deg);  
	transition: transform 1s;
}

.line-over,
.line-up {
	background: #2196f3; 
}

.line-out,
.line-animated {
	background: #272727;
}

.line-down, 
.line-animating {
	background: #3f51b5;
} 

.line-over,
.line-out {
	transition: background 500ms, transform 1s;
}

.line-down,
.line-up {
	transition: background 250ms, transform 1s;
}